body {
    font-family: 'Ubuntu Mono', monospace;
}

#showcase .showcase-item{
    display: inline-block;
}

#showcase .thumbnail h5{
	position: absolute;
    width: 100%;
	opacity: 0;
	-webkit-transition: opacity .2s ease-in;
	-moz-transition: opacity .2s ease-in;
	-o-transition: opacity .2s ease-in;
	-ms-transition: opacity .2s ease-in;
    transition: opacity .2s ease-in;
    
    color: #FFF;
    text-shadow: 1px 1px 3px #000;

    transition: transform .2s;
}

#showcase .thumbnail img:hover ~ h5{
    opacity: 1;
    transform: translateY(-10px);
}

#showcase .thumbnail img{
	opacity: 1;
	-webkit-transition: opacity .2s ease-in;
	-moz-transition: opacity .2s ease-in;
	-o-transition: opacity .2s ease-in;
	-ms-transition: opacity .2s ease-in;
    transition: opacity .2s ease-in;

    transition: transform .2s;

    box-shadow: 2px 1px 5px rgba(0,0,0,0.15);
    transition: box-shadow 0.2s ease-in-out;
}

#showcase .thumbnail img:hover{
    opacity: 0.9;
    transform: scale(1.1);

    box-shadow: 0 5px 15px rgba(0,0,0,0.4);
}

#showcase .showcase-item .thumbnail h5{
    text-align: center;
}

.modal-alert{
    display: inline;
}